.hour_card_list_wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  background-color: #4f4f4f;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  width: 100%;
  border: 1px solid #4f4f4f;
  // padding-bottom: 10px;
}
.hour_card_none {
  display: none;
}

.light_theme .hour_card_list_wrapper {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
